extends layout

block content
  h1
    p Showing results for #{screen_name}

  table.table
    div
      tr.floatleft
        td
          form(method='post', action='search_tweets')
            span.form_input
              input(type='hidden', name='screen_name', id='screen_name', value='#{screen_name}')

            span.form_label
              label(for='screenname') Filter #{screen_name}'s tweets: 
            span.form_input
              input(type='text', name='search_terms', id='search_terms', placeholder='hello world')
        td
          button(class="btn btn-default offsetbtn", type='submit', id='submit', value='Submit') Submit
            

        td
          form(method='post', action='get_tweets')
            span.form_label
              label(for='screenname') Search another user:
            span
              input(class="button", type='text', name='screen_name', id='screen_name', placeholder='stephenathome')
        td
          div.offsetbtn
            button(class="btn btn-default", type='submit', id='submit', value='Submit') Submit

  div
    if tweets
      ul.list-group
        for t in tweets
          div.well
            div.list-group-item 
              p "#{t.fields.text}"
              p -#{t.fields.created_at}
